.error{
    padding: 10px;
    color:red;
    border: 1px dotted red;
}

.success{
    padding:10px;
    color:lime;
    border :1px solid green;
}

li{
    list-style-type: none;
    max-width: 200px;
    padding :8px;
    margin:8px auto;
    background-color: #eee;
    border: 1px solid #ddd;
}


.clock{
    text-align: center;
    margin: 20px auto;
    color:yellow;
    font-family: arial;
}

.clock span{
    padding :20px;
    font-size: 4em;
    background: #444;
}